@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.weather_box {
  background-color: #b3cdf5;
  height: 80%;
  width: 25%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden; }
  .weather_box .wave {
    position: relative; }
    .weather_box .wave .sun {
      position: absolute;
      width: 64rem;
      height: 64rem; }
    .weather_box .wave .wave1 {
      top: .5rem;
      left: -30rem;
      background-color: #f4f5fa;
      opacity: 0.4;
      border-radius: 50rem 39rem 30rem 69rem;
      animation: 20s linear 0s infinite alternate move_eye;
      transform: translate3d(0, 0, 1); }

@keyframes move_eye {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes cloud {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
    .weather_box .wave .wave2 {
      top: -1rem;
      left: -30rem;
      opacity: .4;
      border-radius: 50rem 39rem 30rem 39rem;
      background-color: #f4f5fa;
      animation: 20s linear 0s infinite alternate move_eye; }
    .weather_box .wave .wave3 {
      top: -1rem;
      left: -30rem;
      opacity: 0.4;
      border-radius: 50rem 39rem 30rem 49rem;
      background-color: #f4f5fa;
      animation: 20s linear 0s infinite alternate cloud; }
  .weather_box .info {
    z-index: 99 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .weather_box .info h4 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-family: 'Roboto', sans-serif; }
    .weather_box .info h3 {
      font-size: 1.5rem;
      font-family: 'Open Sans', sans-serif; }
    .weather_box .info #street {
      animation: 2s linear 0s infinite alternate street; 
    
    }
      

@keyframes street {
  from {
    transform: translateX(-1rem); }
  to {
    transform: translateX(0rem); } }
  .weather_box .temp {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .weather_box .temp h2 {
      font-size: 3rem;
      font-family: 'Roboto', sans-serif; }
    .weather_box .temp h3 {
      font-size: 2rem;
      font-family: 'Open Sans', sans-serif;
      color: darkcyan; }

.status {
  animation: 2s linear 0s infinite alternate status; }

@keyframes status {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(2, 2); } }
